body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 900px;
}

.header {
    text-align: left;
    margin: 40px 0;
}

.header h1 {
    font-size: 1.75em;
    font-weight: normal;
    margin: 0;
    display: inline;
}

.header a, .contact-info a {
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info a:not(:last-child):after {
    content: '|';
    margin: 0 10px;
}

.main-content h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 20px 0 10px;
}

.main-content p, .main-content li {
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .main-content h2 {
        font-size: 1.1em;
    }
}
